<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from radiustheme.com/demo/html/classipost/classipost/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Apr 2019 16:26:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>votify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css2/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../public/css2/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="../public/css2/font-awesome.min.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="../public/css2/meanmenu.min.css">
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../public/css2/select2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css2/style.css">

    <!-- css et js de notify via CDN -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header-three" class="header-style1 header-fixed">
                <div class="header-top-bar top-bar-style1">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                                <div class="top-bar-left">
                                    <a href="#" class="cp-default-btn d-lg-none">Lancer un vote</a>
                                    <p class="d-none d-lg-block">
                                        <i class="fa fa-life-ring" aria-hidden="true"></i>Have any questions? +237
                                        690048482 or mail@votify
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                                <div class="top-bar-right">
                                    <ul>
                                        <li>
                                            <button type="button" class="login-btn" data-toggle="modal"
                                                data-target="#myModal">
                                                <i class="fa fa-lock" aria-hidden="true"></i>Connexion
                                            </button>
                                        </li>
                                        <!-- <li class="hidden-mb">
                                            <a class="login-btn" href="#" id="login-button">
                                                <i class="fa fa-comments-o" aria-hidden="true"></i>Live Chat
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-menu-area bg-primary" id="sticker">
                    <div class="container">
                        <div class="row no-gutters d-flex align-items-center">
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <div class="logo-area">
                                    <a href="index.html" class="img-fluid">
                                        <img src="../public/img/VOTIFY.png" class="imglogo" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 possition-static">
                                <div class="cp-main-menu">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="/">Accueil</a>
                                            </li>

                                            <li>
                                                <a href="#">FAQ</a>
                                            </li>

                                            <li><a href="/">Contact</a></li>

                                                <% if(typeof user !== 'undefined' && user) { %>
                                            <li onclick="logout();">
                                                    <a > Déconnexion</a>
                                            </li>
                                                <% } else { %>
                                            <li>
                                                    <a href="/login"> Connexion</a>
                                            </li>
                                                <% } %>
                                            <!-- <a href="#" class="buy-btn">Connexion</a> -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 text-right" data-target="#modalVote" data-toggle="modal">
                                <a href="#" class="cp-default-btn" style="padding: 7px !important;">Lancer un vote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">Accueil</a>
                                        </li>

                                        <li>
                                            <a href="#">FAQ</a>
                                        </li>

                                        <li><a href="classipost/contact.html">Contact</a></li>
                                        <li>
                                            <a href="#">Connexion</a>
                                        </li>
                                        <!-- <a href="#" class="buy-btn">Commencer Maintenant</a> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="title-default-bold mb-none">Connexion</div>
                    </div>
                    <div class="modal-body">
                        <div class="login-form">
                            <form id="formLogin">
                                <label>e-mail *</label>
                                <input type="text" id="email" name="email" placeholder="Name or E-mail" />
                                <label>Mot de passe *</label>
                                <input type="password" id="password" name="password" placeholder="Password" />
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox2" type="checkbox">
                                    <label for="checkbox2">Se souvenir de moi</label>
                                </div>
                                <button class="default-big-btn" type="submit" value="Login">Connexion</button>
                                <button class="default-big-btn form-cancel" type="submit" value="">Annuler</button>
                                <label class="lost-password"><a href="#">Mot de passe oublié?</a></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalVote" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="title-default-bold mb-none">Enregistrer un vote</div>
                    </div>
                    <div class="modal-body">
                        <div class="login-form">
                            <form id="formVote"  enctype="multipart/form-data">
                                <label>Titre *</label>
                                <input type="text" id="title" name="title" placeholder="Par exemple : Concours miss cameroun" />
                                <label>Description *</label>
                                <input type="text" name="description" id="description" />
                                <input type="file" placeholder="image" name="image" id="image" accept=".jpg, .jpeg, .png, .gif">
                                                <% if(typeof user !== 'undefined' && user) { %>
                                <input type="hidden" name="user_id" id="user_id" value="<%= user._id %>">
                                                <% } %>
                                
                                
                                <button class="default-big-btn" type="submit" value="Login">Enregistrer</button>
                                <button class="default-big-btn form-cancel" type="submit" value="">Annuler</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function logout(arguments) {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    localStorage.removeItem('token')
                    // Optionnel : redirection après la déconnexion
                    window.location.href = '/login'; // Redirige vers la page de connexion
                })
                .catch(error => console.error('Erreur:', error));
        }
        </script>