<!doctype html>
<html class="no-js" lang="">


<!-- Added by HTTrack<meta http-equiv="content-type" content="text/html;charset=UTF-8" />/Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> <%= title %> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../public/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../public/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../public/css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="../public/css/meanmenu.min.css">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="../public/vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/vendor/OwlCarousel/owl.theme.default.min.css">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="../public/css/hover-min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- Modernizr Js -->
    <script src="../public/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
   
    <div class="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div class="header1-area">
                <div class="header-bottom-area" id="sticker">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="logo-area">
                                    <a href="index-2.html"><img class="img-responsive" src="../public/img/logovote.png" style="" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <div class="main-menu-area">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="#">Accueil</a>  
                                            </li>

                                            <li>
                                                <a href="#">FAQ</a>  
                                            </li>
                                            
                                            <li><a href="classipost/contact.html">Contact</a></li>

                                            <li>
                                                <a href="/login">Connexion</a>  
                                            </li>
                                            <!-- <a href="#" class="buy-btn">Connexion</a> -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                                <a href="#">Accueil</a>  
                                            </li>
                                            
                                            <li>
                                                <a href="#">FAQ</a>  
                                            </li>
                                            
                                            <li><a href="classipost/contact.html">Contact</a></li>
                                            <li>
                                                <a href="#">Connexion</a>  
                                            </li>
                                            <!-- <a href="#" class="buy-btn">Commencer Maintenant</a> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="preview-banner-area">
            <div class="container-fluid">
                <div class="row preview-banner-wrapper">
                    <img class="img-responsive preview-banner" src="../public/img/banner/bg_header_soft.jpg" alt="slider-back">
                    <div class="preview-banner-content">
                        <div class="preview-logo-area">
                            <img class="img-responsive" src="../public/img/banner/logovote.png" alt="logo">
                        </div>
                        <h1>Meilleure Application de gestion de votes</h1>  
                        <a href="#" class="buy-btn">Commencer Maintenant</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <section>
            <div class="cp-stellar bg-common feature-area" style="background-image: url('../public/img/banner/banner2.jpg');">         
                <div class="container">
                    <div class="feature-content">
                        <h2>Sur tous les appareils</h2>
                        <h3>&amp; réactif</h3>
                        <p>Cette Application vous permet de gerer des votes pour toutes vos compétitions</p>   
                        <a href="#" class="buy-btn2">Commencer Maintenant</a>                  
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Body Area Start Here -->
        <div class="main-body-area bg-accent position-relative">
            <img src="../public/img/banner/body-left.png" class="img-responsive main-body-left-img" alt="theme">
            <img src="../public/img/banner/body-right.png" class="img-responsive main-body-right-img" alt="theme">
            <div class="container">
                <h2 class="title-default-textPrimary">Votes d'actualité</h2>
            </div>
            <div class="container-fluid seo-box-layout" id="inner-isotope">
                
                <div class="row featuredContainer">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="../public/classipost/index.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="../public/classipost/index.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index.html" target="_blank">Concours Miss Brillance Cameroun</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="classipost/index2.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="classipost/index2.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index2.html" target="_blank">Concours Miss Santé</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="classipost/index3.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="classipost/index3.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index3.html" target="_blank">Concours Miss Beauté</a></div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="../public/classipost/index.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="../public/classipost/index.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index.html" target="_blank">Concours Miss Brillance Cameroun</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="classipost/index2.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="classipost/index2.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index2.html" target="_blank">Concours Miss Santé</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 home">
                        <div class="product-box">
                            <div class="product-box-img">                                
                                <img src="../public/img/product/Affiche concours miss.jpeg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="classipost/index3.html" target="_blank"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                                <a class="view-text" href="classipost/index3.html" target="_blank">Voir plus</a>
                            </div>
                            <div class="product-box-content">
                                <div><a href="classipost/index3.html" target="_blank">Concours Miss Beauté</a></div>
                            </div>
                        </div>
                    </div>
                   
                        
                </div>                
            </div>
        </div>
        <!-- Main Body Area End Here -->
        <div class="about-us-area">
            <div class="container">
                <h2 class="title-default-textPrimary">Pourquoi nous choisir?</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="about-us-item"> <img src="../public/img/banner/about1.png" alt="banner" class="img-responsive">
                            <div class="about-us-box">
                                <div class="about-us-box-inner">
                                    <div class="about-us-box-content">
                                        <h3>Plateforme multivote</h3>
                                        <p> Cette Application gère plusieurs concours de manière simultanée, offrant une expérience utilisateur fluide et efficace.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="about-us-item"> <img src="../public/img/banner/about2.png" alt="banner" class="img-responsive">
                            <div class="about-us-box">
                                <div class="about-us-box-inner">
                                    <div class="about-us-box-content">
                                        <h3>Intuitif</h3>
                                        <p>Cette Application a été conçue en mettant l'accent sur l'expérience utilisateur, avec une interface intuitive et facile à utiliser.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="about-us-item"> <img src="../public/img/banner/about3.png" alt="banner" class="img-responsive">
                            <div class="about-us-box">
                                <div class="about-us-box-inner">
                                    <div class="about-us-box-content">
                                        <h3>Support Dédié</h3>
                                        <p>Nous fournissons 15 heures de support en temps réel. Pour tous nos précieux clients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area Start Here -->
        <footer>
            <div class="preview-footer-area section-space">
                <div class="container">
                    <div class="preview-logo-area2">
                        <a href="classipost/index.html" target="_blank"><img src="../public/img/logovote.png" style="height: 24px;" class="img-responsive" alt="logo"></a>
                    </div>
                    <p>&copy; 2025 votify Tous droits réservés. Conçu par<a target="_blank" href="https://digitalpulseagency.com/"> digitalpulseagency</a></p>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- jquery-->
    <script src="../public/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="../public/js/plugins.js" type="text/javascript"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- WOW JS -->
    <script src="../public/js/wow.min.js"></script>
    <!-- Meanmenu Js -->
    <script src="../public/js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Owl Cauosel JS -->
    <script src="../public/vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="../public/js/jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- Isotope js -->
    <script src="../public/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="../public/js/main.js" type="text/javascript"></script>
</body>


</html>
