<%- include('./partials/header') %>

    <!-- Search Area Start Here -->

    <!-- Search Area End Here -->
   
    <!-- Login Area Start Here -->
    <section class="s-space-bottom-full bg-accent-shadow-body bg-body full-width-border-bottom fixed-menu-mt" >
        <div class="container" style="top: 75px;">
            <div class="breadcrumbs-area">
                <ul>
                    <li><a href="#">Accueil</a> -</li>
                    <li class="active">Connexion</li>
                </ul>
            </div>
        </div>
        <div class="container" >
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="gradient-wrapper mb--sm">
                        <div class="gradient-title">
                            <h2>Creer un compte</h2>
                        </div>
                        <div class="input-layout1 gradient-padding">
                            <form id="formregister">


                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <label class="control-label" for="last-name">Nom <span>*</span></label>
                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <div class="form-group">
                                            <input type="text" id="last-name" class="form-control" name="name"
                                                placeholder="Nom">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <label class="control-label" for="last-name">Nom de l'organisation
                                            <span>*</span></label>
                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <div class="form-group">
                                            <input type="text" id="last-name" class="form-control" name="organisation"
                                                placeholder="Nom de l'organisation">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <label class="control-label" for="phone">Téléphone <span>*</span></label>
                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <div class="form-group">
                                            <input type="text" id="phone" class="form-control" name="tel"
                                                placeholder="Votre numéro de téléphone">
                                            <div class="checkbox checkbox-primary checkbox-circle">
                                                <input id="checkbox1" type="checkbox" checked="">
                                                <label for="checkbox1" style="color: gray;">Masquer le numéro de téléphone sur les
                                                    annonces publiées.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <label class="control-label" for="first-name">Email <span>*</span></label>
                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <div class="form-group">
                                            <input type="text" id="first-name2" class="form-control" name="email"
                                                placeholder="Entrez votre e-mail ici . . .">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-12">
                                        <label class="control-label" for="password">Mot de passe
                                            <span>*</span></label>
                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <div class="form-group">
                                            <input type="text" id="password" class="form-control" name="password"
                                                placeholder="Tapez votre mot de passe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ml-auto col-sm-9 col-12 ml-none--mb">
                                        <div class="form-group">
                                            <button type="submit" class="cp-default-btn-sm">S'inscrire
                                                maintenant!</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="sidebar-item-box">
                        <ul class="sidebar-more-option">
                            <li>
                                <a href="/dashboard"><img src="../public/img/banner/more1.png" alt="more"
                                        class="img-fluid">Poster gratuitement un vote</a>
                            </li>
                            <li>
                                <a href="/dashboard"><img src="../public/img/banner/more2.png" alt="more"
                                        class="img-fluid">Manager un vote</a>
                            </li>
                            <li>
                                <a href="/"><img src="../public/img/banner/more3.png" alt="more"
                                        class="img-fluid">Liste des votes favoris</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-item-box">
                        <img src="../public/img/banner/sidebar-banner1.jpg" alt="banner" class="img-fluid m-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Area End Here -->
    <!-- Footer Area Start Here -->
    <%- include('./partials/footer') %>

        <!-- Footer Area End Here -->
        </div>
        <!-- Modal Start-->

        <!-- Modal End-->
      
       



        </body>



        </html>